<app-header></app-header>
<div>
    <div class="tool">
        <h1>ToolHub</h1>
        <h3>A community-authored catalog of tools used in Wikimedia movement.</h3>
    </div>
</div>

<section>
<div class="pgh">
    
    <p> Discover new tools, promote their use in your wiki community, help improve them by contributing data.
    </p>
</div>

<section>
    <div>
        <div class="card">
            <img>
            <h5>Tool 1</h5>
            <h5>Description</h5>
        </div>
    </div>
</section>
<div class="sla">
    <div class="btn">
        <button id="button">Add or Remove Tools</button>
        <button id="button">Create Tools</button>
        <button id="button">Edit Tools</button>
    </div>
    <input placeholder="Explore ToolHub Records" type="search" >
</div>
</section>

